In [1]:
# Displaying Hello World in output screen
print("Hello World")

Hello World

In [2]:
# Addition of two numbers
# Getting input from user
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
print("Addition of two numbers:",a+b)

Enter the value of a:34
Enter the value of b:21
Addition of two numbers: 55

In [3]:
# Swapping two variables without temp variable
# Getting input from user
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
# Swapping operation 
a=a+b
b=a-b
a=a-b
print("Value of a after swapping:",a)
print("Value of b after swapping:",b)

Enter the value of a:23
Enter the value of b:78
Value of a after swapping: 78
Value of b after swapping: 23

In [8]:
# Convert the entered kilometres into miles
Conversion_factor=0.0621371
# Getting the kilometre as input
a=int(input("Enter the kilometres:"))
b=a*Conversion_factor
print("After conversion of kilometres into miles:",b)

Enter the kilometres:98765
After conversion of kilometres into miles: 6136.9706815

In [4]:
# Checking whether the number is positive,negative or 0
# Getting input from user
a=int(input("Enter the value of a:"))
# Using if elif condition
if(a<0):
    print("a is negative")
elif(a==0):
    print("a is equal to zero")
else:
    print("a is negative")

Enter the value of a:-9
a is negative

In [10]:
# Checking whether leap year or not
# Getting input from user
year=int(input("Enter the year:"))
# Using if else condition
if(year%4==0 and year%100!=0) or (year%400==0):
    print(year,"It is a leap year")
else:
    print(year,"It is not a leap year")

Enter the year:2013
2013 It is not a leap year

In [4]:
# Prime numbers between given range
# Getting input from user
m=int(input("Enter the starting value:"))
n=int(input("Enter the ending value:"))
for i in range(m,n):
    c=0
    for j in range(1,i):
        if i%j==0:
            c=c+1
    if(c==1):
        print(i)

Enter the starting value:4
Enter the ending value:20
5
7
11
13
17
19

In [5]:
# Fionacci Series upto nth term
# Getting input from user
p=0
q=1
num=int(input("Enter the range:"))
print("Fibonacci series:",p,q,end=" ")
for i in range(2,num):
    r=p+q
    p=q
    q=r
    print(r,end=" ")
print()

Enter the range:10
Fibonacci series: 0 1 1 2 3 5 8 13 21 34

In [16]:
# Checking Armstrog Number or not
# Getting input from user
num=int(input("Enter a number:"))
sum=0
temp=num
while temp>0:
    b=temp%10
    sum += b**3
    temp//=10
if num == sum:
    print(num,"Armstrong number")
else:
    print(num,"Not an Armstrong number")

Enter a number:153
153 Armstrong number

In [1]:
# Sum of n natural numbers
# Getting input from user
num=int(input("Enter a number:"))
if(num<0):
    print("Enter a positive number")
else:
    sum=0
    while(num>0):
        sum+=num
        num -=1
    print("Sum of natural numbers:",sum)

Enter a number:7
Sum of natural numbers: 28

In [2]:
# Display the following pattern
a=int(input("Enter the number of lines:"))
for i in range(1,a+1):
    print("*"*i)

Enter the number of lines:5
*
**
***
****
*****

In [3]:
# Remove characters from a string from zero to n and return a new string
str1 = "Python Programs"
print("Initial string:",str1)
n = int(input("Enter the number of characters to remove:"))
str2 = ''
for i in range(0,len(str1)):
    if i >=n:
        str2 +=str1[i]
print("Resultant string:",str2)

Initial string: Python Programs
Enter the number of characters to remove:5
Resultant string: n Programs

In [6]:
# Iterate the list which are divisible by 5
list1 = [12,35,78,67,65,90,100,655]
for x in list1:
    if x%5 ==0:
        print(x)

35
65
90
100
655

In [7]:
# Program to count number of times "hi" in given string
str1 = "hibuddyhi hinumerics hellohi minehi nhi"
n= str1.count("hi")
print(n)

6

In [8]:
# Printing the following pattern
for x in range(1,6):
    for y in range(1,x+1):
        print(x,end= " ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [1]:
# Program to find a number palindrome or not
# Getting input from user
num=int(input("Enter a number:"))
temp=num
reverse =0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10)+ remainder
    temp= temp//10
if num == reverse:
    print("Palindrome")
else:
    print("Not palindrome")

Enter a number:47574
Palindrome

In [2]:
# Program to interchange first and last element in a list
list1 = [45,3,21,66,90,67,43]
print("Initial List:",list1)
if len(list1) >= 2:
    list1[0],list1[-1]=list1[-1],list1[0]
print("List after interchanging first and last element:",list1)

Initial List: [45, 3, 21, 66, 90, 67, 43]
List after interchanging first and last element: [43, 3, 21, 66, 90, 67, 45]

In [3]:
# Program to swap two elements in a list
def swappositions(list,pos1,pos2):
    element1=list.pop(pos1)
    element2=list.pop(pos2-1)
    list.insert(pos1,element2)
    list.insert(pos2,element1)
    return list
List=[56,12,98,43]
pos1,pos2 = 2,4
print(swappositions(List,pos1-1,pos2-1))

[56, 43, 98, 12]

In [4]:
# Program / Ways to find length of list
List=[12,78,65,43,90,89]
n=len(List)
print(n)

6

In [5]:
# Maximum of two numbers in a list
List=[67,89]
print(max(List))

89

In [6]:
# Minimum of two numbers in a list
List=[67,78]
print(min(List))

67

In [7]:
# Program to check whether the string is Symmetrical or Palindrome
def is_symmetrical(string):
    length = len(string)
    for i in range(length // 2):
        if string[i] != string[length -i -1]:
            return False
    return True
def is_palindrome(string):
    string = string.lower().replace(" ","")
    return is_symmetrical(string)
string1 = input("Enter a string: ")
if is_palindrome(string1):
    print("String is palindrome")
else:
    print("String is not a palindrome")

Enter a string: dhinnihd
String is palindrome

In [8]:
# Program to reverse a string
str = "Dhinesh"
print(str[::-1])

hsenihD

In [9]:
# Program to remove i'th character in a string
string=input("Enter the word:")
i= int(input("Enter the pos of character to remove:"))
s=string[i]
string1=string.replace(s,'')
print(string1)

Enter the word:Hello
Enter the pos of character to remove:4
Hell

In [10]:
# Program to find the length of string
str=input("Enter a string:")
print(len(str))

Enter a string:Dhinesh
7

In [12]:
# Program to print even letters in a string
str=input("Enter a string:")
print(str[::2])

Enter a string:Dhines
Die

In [13]:
# Program to find the size of the tuple
tuple=(1,2,3,4,5,6,7,8,9,10)
n= len(tuple)
print("Length of the tuple is :",n)

Length of the tuple is : 10

In [14]:
# Program to find minimum and maximum element in a tuple
tuple=(1,2,3,4,5,6,7,8,9,10)
a=max(tuple)
b=min(tuple)
print("Maximum element :",a)
print("Minimum element :",b)

Maximum element : 10
Minimum element : 1

In [15]:
# Program sum of tuple
tuple=(1,2,3,4,5,6,7,8,9,10)
sum = 0
for i in tuple:
    sum+= i
print("Sum of tuple elements:",sum)

Sum of tuple elements: 55

In [16]:
# Program for row wise element addition in tuple matrix
var=10
for i in range(10):
    for j in range(2,10,1):
        if var%2==0:
            continue
            var+=1
            var+=1
        else:
            var+=1
print(var)

10

In [20]:
# Create a list of tuples from given list having numbet and its cube in each tuple
def create_tuples(numbers):
    tuples = [(num, num ** 3) for num in numbers]
    return tuples
list = [1,2,3,4,5]
result = create_tuples(list)
print(result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]